<div class="absolute">
  <div class="w-screen overflow-hidden max-h-0 transition-all duration-1000 ease-in-out -top-full" data-header="menu">
    {% for item in site.data.navigation %}
      {% assign item_url = item.path | split: '/' | slice: 1 | first %}
      {% assign current_page_url = page.url | split: '/' | slice: 1 | first %}
      <p class="{% if current_page_url == item_url %}
                  bg-white-t-1/2 text-gray-900
                {% else %}
                  bg-gray-900-t-1/2 w-100 
                {% endif %}
                text-white text-center border-b border-white text-xl">
        <a href="{{item.path}}" class="block py-3 hover:bg-blue-400"> 
          {{item.name | capitalize }}
        </a>
      </p>
    {% endfor %}
  </div>

  <div class="flex justify-center mt-10">
    <div class="animate-bounce bg-white dark:bg-slate-800 p-2 w-12 h-12 ring-1 ring-slate-900/5 dark:ring-slate-200/20 shadow-lg rounded-full flex items-center justify-center cursor-pointer" data-header="toggle-button">
      <svg class="w-6 h-6 text-violet-500" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </div>
  </div>
</div>
