h1,
h2,
h3,
h4,
h5,
h6 {
  color: #60A5FA;
}

/* override blockquote */
blockquote {
  background: #FBCFE8;
  border-left: 10px solid #DB2777;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #db2777;
}

