/* card background colours */
.card-purple {
  background-color: #3f436e;
}

/* background colors */
.bg-gray-900-t-1\/2 {
  background-color: rgba(17, 24, 39, 0.5);
}

.bg-white-t-1\/2 {
background-color: rgba(255, 255, 255, 0.5);
}

.bg-purple-main {
  background-color: #333658;
}

/* height */
.max-h-700 {
max-height: 700px;
}

