<!doctype html>
<html>
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/header.js' | relative_url }}"></script>
    <title>{{ page.title }}</title>
  </head>
  <body class="bg-purple-main w-screen h-screen">
    <!-- background animation -->
    <canvas class="fixed"></canvas>

    <!-- header -->
      {% include header.html %}

    <!-- content -->
    {{content}}
    <script src="{{ '/assets/js/bg-animation-main.js' | relative_url }}"></script> 
  </body>
</html>
