<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="{{ '/assets/js/header.js' | relative_url }}"></script> 
    <!-- <link rel="stylesheet" href="/assets/css/home.css"> -->
    <title>{{ page.title }}</title>
  </head>
  <body class="bg-gray-800 w-screen h-screen">
    <!-- background animation -->
    <canvas class="fixed"></canvas>

    <!-- header -->
      {% include header.html %}

    <!-- content -->
    {{content}}
    <script src="{{ '/assets/js/bg-animation-main.js' | relative_url }}"></script> 
  </body>
</html>
